{% extends "admin/layout.html.twig" %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('admin_produitv2_add') }}">
            <legend>Créer un produit (v2)</legend>

            {{ include('admin/produit/_formProduit.html.twig', {button: 'Créer'}) }}

        </form>
    </div>
{% endblock %}